body{
    background-color: #08180a;
    margin: 0; 
    font-family: Arial;
    overflow: scroll;
}

header {
    background: #29ff64;
    background: linear-gradient(90deg, #31e057 0%, #4bf470 58%, #2eda54 100%);
    width: 100%;

    margin-top: 52px;
    
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Non-prefixed version, currently supported by most browsers */
}

#top-bar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 14px);
    padding: 7px;
    background: #33ff4e;

    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: large;

    z-index: 2;
}

#top-pages {
    display: flex;
    justify-content: end;
}

a {
    color: black;
    text-decoration: none;
    padding: 7px;
    font-weight: 400;
}

h1 {
    margin: 7px;
}

h3 {
    margin: 0;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center-column {
    display: flex;
    flex-direction: column !important;
    align-items: center;
}

#logo-animated {
    margin-top: 50px;
}

.current-page {
    text-decoration: underline !important;
    font-weight: 500;
}

button {
    border: 5px solid #29ff64;
    border-radius: 3px;
    background-color: #08180a;
    height: 100px;
    width: 250px;
    margin: 20px;
}

#main-body {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main-body a {
    color: white;
    text-decoration: underline;
}

.worker-div {
    display: flex;
    justify-content: flex-start;
    border: 5px solid #33ff4e;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    width: 245px;
}

.worker-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.role {
    color: #a9a9a9;
    align-self: start;
    margin: 0;
}

#workers {
    margin: 15px;
}

#about-text {
    margin: 7px;
}

#about {
    margin: 15px;
}

@media (max-width: 850px) {
    #main-body {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #top-bar {
        display: flex;
        flex-direction: column;
    }

    header {
        margin-top: 79px;
    }

    #top-pages {
        align-self: center;
    }

    .logo-animated#homepage {
        content:url("./HomepageAnimation_small.svg");
        width: 100%;
        justify-content: center;
    }

    .logo-animated#projects {
        content:url("./ProjectsAnimation_small.svg");
        width: 100%;
        justify-content: center;
    }

    .logo-animated#network {
        content:url("./NetworkAnimation_small.svg");
        width: 100%;
        justify-content: center;
    }

    .logo-animated#PageNotFound {
        content:url("./404Animation_small.svg");
        width: 100%;
        justify-content: center;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #08180a; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #29ff64; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #2cce4f; 
}

/* Network */

#gg-sheets {
    margin-top: 12px;
    width: 548px;
    height: 710px;

    border: 5px solid #29ff6600;
    border-radius: 8px;
    background-color: #08180a;
}

@media (max-width: 1250px) {
    #main-body {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    #gg-forms {
        width: 450px;
        height: 775px;
    }

    #gg-sheets {
        width: 403px;
    }

    #cards-container {
        display: flex;
        flex-direction: column;
    }

    header#error {
        margin-top: 60px !important;
    }
}

.project-card {
    border: 5px solid #29ff64;
    border-radius: 8px;
    background-color: #08180a;

    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 15px;
}

.card-name {
    margin: 5px;
    color: white;
}

.card-text-container {
    text-align: center;
    z-index: 2;
    height: 200px;
    width: 300px;
    position: absolute;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 8px;
}

.card-link {
    font-weight: 600;
    position: relative;
    left: 5px;
    margin: 5px;
    color: white;
}

.card-image {
    border-radius: 8px;
    height: 200px;
    width: 300px;
}

header#error {
    margin-top: 25px;
}

#archive {
    cursor: pointer;
    display: flex;
    text-align: center;

    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Non-prefixed version, currently supported by most browsers */


}
